.containerHeader{
	display: flex;
	width: 100%;
	justify-content:space-between;
	background-color: #000000;
	
}
.imgLogo{
	margin-left: 50px;
	width: 30%;
	border-radius: 50%;
	width: 18vw;
	
}
#burger{
	display: none;
}
#closeMenu{
	display: none;
}

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #c2c5c4;
	font-weight: 50;
    width: 50%;
    transition: .5s; 
     
}
.menu li {
display: inline-block;
margin-bottom: 1rem;
padding-left: 20px;
  list-style: none;
  font-size: 25px;
  font-weight: 600;
  
    
}
.menu a{
	
	color: #e9eeed;
	text-decoration: none;
	font-size: 25px;
	font-weight: 400;
	transition: all 300ms ease-out 0s;
}
.menu a:hover{
	color: #e9cada;
	font-size: 30px;
	

}


#imagendecarrucel{
	
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
	background-image: url(./img/f9a98ff98167367f51f30db94eb85514.jpg);
	
	
}

.category{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(/img/f9a98ff98167367f51f30db94eb85514.jpg);
	
}

.categoryUl{
	display: flex;
	justify-content:space-between;
	gap:1rem;
	margin: 50px;
	list-style: none;
	text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #db9bbb 0px 0px 20px, #e9cada 0px 0px 30px, #150953 0px 0px 40px, #422dff 0px 0px 50px, #FF2D95 0px 0px 75px;
	font-weight: 700;
	border-style: none;
}


.buttonCategory{

	color:rgb(211, 197, 197);
	border-radius: 10px;
	background-image: url(./img/f9a98ff98167367f51f30db94eb85514.jpg);
	background-position:center;
	background-size:auto;
	font-size:20px;
	border-style: none;
	margin: 5px;
	padding: 16px;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}
.buttonCategory:hover {
	background-image: url(./img/prtitura.jpg);
	background-clip: text;
	-webkit-background-clip: text;
	font-size: 45px;
	border-style: none;
	color: transparent;
	border-radius:20px;
	
}
.containerTitulo{
	display: flex;
	justify-content: center;
	

}
.tituloEvento{
	color: aliceblue;
	font-weight: 300;
	margin: 20px;
	
	
}
.main{
	
	display:flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: #051b28;
	
}

.conteinerProduct{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap:1rem;
	border-top: 10px;
	

}

.product{
	background-color: #0b2739;
	color: aliceblue;
	border-radius: 8px;
	margin: 30px;
	flex-direction: row;
	

	
}

.imgProduct{
	width: 347px;
	height: 222px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	display: flex;
	
	
	
}
.precio{
	font-weight: 300;
	font-size: 25px;
}
.buttonAdd{
	display: flex;
	justify-content: center;
	border-radius: 20px;
	border-color: #ff008a;
	background-color: #0b2739;
	color: #fff;
	margin-bottom: 15px;
	width: 200px;
    height: 38px;
	cursor: pointer;
	transition: all 300ms ease-out 0s;
	
}
.buttonAdd:hover {
	box-shadow: 0 12px 16px 0 rgba(255, 249, 249, 0.24), 0 17px 50px 0 rgba(253, 253, 253, 0.19);
	color: #ff008a;
	font-size: 25px;
	align-items: center;
  }
 
  


.entradas{
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 25px;

}


/**carrito de compras**/ 

 .modal-container{
	width: 80%;
	margin: 0 10%;
	color: antiquewhite;
	box-shadow: 0 4px 30px rgb(0 0 0 / 60%);
    backdrop-filter: blur(29.400000000000006px);
	display: flex;
	flex-direction: column;
	align-items: center;
	position:absolute;
	z-index: 9;
    top:12vh ;
	
 }
 

  .modal-header{
	background-color: #051b28;
	display:flex;
	justify-content: space-between;
	color: #fff;
	flex-direction: row-reverse;
	width: 100%;
	
  }
  .modal-header-title{
	justify-self: start;
	margin-right: 10px;
	color: #7cb4be;

   } 
   .modal-header-button{
	cursor: pointer;
	margin-right: 10px;
	
	
   }
  
   .modal-container > .modal-content{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 97%;
	margin: 10px;
	gap:20px;
	
	
    }
.modal-content2{
	width: 95%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 30px;
	background-color: #2323234e;
	padding: 20px;
	border-radius: 10px;
}
  

.restar{
	border-style: solid;
	border-color: #e9eeed;
	border-width: 1px;
	border-radius: 3px;
	padding: 2px;
	cursor: pointer;
}
.sumar{
	border-style: solid;
	border-color: #e9eeed;
    border-width: 1px;
	border-radius: 3px;
	padding: 2px;
	cursor: pointer;
	}

.total-content {
	color: #000000;
	text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px;
	padding: 20px;
	font-size: 25px;
	text-align: center;
	padding-top: 20px;
	}

.bi-x{
	color: #FFF;
	background-color: #051b28;
			
	}

.bitrash3{
	color: #FFF;
	cursor:pointer;
	display: flex;
	align-items: center;
	}

/**footer**/
.footer{
	background: -webkit-linear-gradient(black, #2b5a8d, #4b7d86);
	display: flex;
	color: #fff;
	justify-content: space-around;
	
	

}
.contactos{
	display: flex;
	justify-content: center;
	flex-direction: column;
	

}
.listaContacto{
	list-style: none;
	color: #fff;
}
.iconosRedSocial{
	color: #fff;
	display: flex;
	align-items: center;
	margin: 10px;

}
.tituloRedes{
	display: flex;
	align-items: center;
}
.listaRedeSociales{
	list-style: none;
	display: flex;
	gap: 20px;
	
}
.botonSuscripcion{
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	border-style: solid;
	border-radius: 15px;
	border-color: #e9eeed;
	border-width: 1px;
	background: none;
	color: #fff;
	margin-bottom: 15px;
	font-size: 30px;
	width: 300px;
    height: 38px;
	cursor: pointer;
	transition: all 300ms ease-out 0s;
	
}
.botonSuscripcion:hover{
	box-shadow: 0 12px 16px 0 rgba(255, 249, 249, 0.24), 0 17px 50px 0 rgba(253, 253, 253, 0.19);
	color: #ffffff;
	font-weight: 700;
	align-items: center;
}
@media (max-width: 800px){
	.containerHeader{
		display: flex;
		justify-content:space-between;
		padding: 30px;
		background-color: #000000;
		color: #FFF;
	}
	#burger{
		display: flex;
		font-size:50px;
		font-weight: bolder;
		cursor: pointer;
		user-select: none;
		position: relative;
		right: 9px;
	}
	
	#closeMenu {
		display: flex;
		font-size:35px;
		font-weight: bolder;
		cursor: pointer;
		user-select: none;
		
		
	} 
	.menu {
		display: flex;
		color: #c2c5c4;
		font-weight: 50;
		background-image: url(./img/KeBY2b.gif);
		position:fixed;
		top: 0;
		bottom: 0;
		left: -100%;
		width: 70%;
        height: 171px;
        padding-top: 0;
		box-sizing: border-box;
		
		transition: .5s; 
		 
	}
	.menu li {
	  text-align: left;
	  list-style: none;
	  font-size: 15px;
	  font-weight: 600;
	  padding-left: 100px;
		
	}
	.menu a{
		color: #e9eeed;
		text-decoration: none;
		font-size: 20px;
		font-weight: 400;
		transition: all 300ms ease-out 0s;
	}
	.menu a:hover{
		color: #e9cada;
		font-size: 26px;
		
	
	}
	.openMenu {
		 left: 0;             
	}
}

  @media (max-width: 534px) {
    .imgProduct {
        width: 250px;
	height: 158px;
	transition: all 400ms ease-out 0s;
    }
	.footer{

		flex-wrap: wrap;
		
	}
	.listaRedeSociales{
		justify-content: space-around;

	}
	}

@media (max-width: 426px) {
    .imgLogo{
		width:105px;
	height:105px;
	}
	.menu {
width: 70%;
height: 193px;
padding-top: 0;
	}
	.menu a {
		font-size: 15px;
	}
	#closeMenu {
		font-size:30px;
		 }


	
	.imgProduct {
        width: 252px;
	
	transition: all 400ms ease-out 0s;
    }
	.buttonAgregar{
		width: 168px;
    
}
.product{ 
	margin: 16px;
}
.buttonCategory{
padding: 3px;
}
.buttonCategory:hover {
font-size: 30px;
}
.footer{

	flex-wrap: wrap;
	
}
.listaRedeSociales{
	justify-content: space-around;

}
.tituloRedes{
	display: flex;
	align-items: center;
	border-right: 10px;
}
.modal-content2{
	width: 80%;
	flex-direction: column;
	gap: 9px

}
.imgProduct{
	width: 100%;
}
}