* {
    padding: 0;
    margin: 0;
	box-sizing: border-box;

}
body{
	margin: 0;
}
.navContainer {
	background:#000000;
	height: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row-reverse;

	
}
.navLogo{
	margin: 10px;
}
.navItem{
	background-image: url(./img/KeBY2b.gif);
	background-position: center;
	background-size: contain;
	box-shadow: 10px 6px 10px 2px rgb(53, 53, 53);
	width: 700px;
	height: 32vh;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .5s ease;
}
.active2{
	transform: translate(-700px);
}
.opacity{
	background-color: #0b2739;
	transition: all .5s ease;

}
.navItem a{
	padding: 9px 0px 20px 60px;
	text-decoration: none;
	display:flex ;
	font-size: 20px;
	
	color: #fff9f9;
	
	
}
.navItem:hover{
	background-color: #3f3030;
	color:black;
	

}

.menuHamburguesa{
	color: #ffffff;
	position: relative;
	cursor: pointer;
	display: flex;
	margin: 10px;

	
	
}
.login{
	display: flex;
	justify-content: space-around;
	
}


#imagendecarrucel{
	
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
	background-image: url(./img/f9a98ff98167367f51f30db94eb85514.jpg);
	
	
}

.category{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(/img/f9a98ff98167367f51f30db94eb85514.jpg);
	
}

.categoryUl{
	display: flex;
	justify-content:space-between;
	gap:1rem;
	margin: 50px;
	list-style: none;
	text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #db9bbb 0px 0px 20px, #e9cada 0px 0px 30px, #150953 0px 0px 40px, #422dff 0px 0px 50px, #FF2D95 0px 0px 75px;
	font-weight: 700;
	border-style: none;
}


.buttonCategory{

	color:rgb(211, 197, 197);
	border-radius: 10px;
	background-image: url(./img/f9a98ff98167367f51f30db94eb85514.jpg);
	background-position:center;
	background-size:auto;
	font-size:20px;
	border-style: none;
	margin: 5px;
	padding: 16px;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}
.buttonCategory:hover {
	background-image: url(./img/prtitura.jpg);
	background-clip: text;
	-webkit-background-clip: text;
	font-size: 45px;
	border-style: none;
	color: transparent;
	border-radius:20px;
	
}
.containerTitulo{
	display: flex;
	justify-content: center;
	

}
.tituloEvento{
	color: aliceblue;
	font-weight: 300;
	margin: 20px;
	
	
}
.main{
	
	display:flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: #051b28;
	
}

.conteinerProduct{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap:1rem;
	border-top: 10px;
	

}

.product{
	background-color: #0b2739;
	color: aliceblue;
	border-radius: 8px;
	margin: 30px;
	flex-direction: row;
	

	
}

.imgProduct{
	width: 347px;
	height: 222px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	display: flex;
	
	
	
}
.precio{
	font-weight: 300;
	font-size: 25px;
}
.buttonAdd{
	display: flex;
	justify-content: center;
	border-radius: 20px;
	border-color: #ff008a;
	background-color: #0b2739;
	color: #fff;
	margin-bottom: 15px;
	width: 200px;
    height: 38px;
	cursor: pointer;
	transition: all 300ms ease-out 0s;
	
}
.buttonAdd:hover {
	box-shadow: 0 12px 16px 0 rgba(255, 249, 249, 0.24), 0 17px 50px 0 rgba(253, 253, 253, 0.19);
	color: #ff008a;
	font-size: 25px;
	align-items: center;
  }
  #carritoEnCart{
	color: #ff008a;
	width: 30px;
  }
  


.entradas{
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 25px;

}


/**carrito de compras**/ 

 .modal-container{
	width: 80%;
	margin: 0 10%;
	color: antiquewhite;
	box-shadow: 0 4px 30px rgb(0 0 0 / 60%);
    backdrop-filter: blur(29.400000000000006px);
	display: flex;
	flex-direction: column;
	align-items: center;
	position:absolute;
	z-index: 9;
    top:12vh ;
	
 }
 

  .modal-header{
	background-color: #051b28;
	display:flex;
	justify-content: space-between;
	color: #fff;
	flex-direction: row-reverse;
	width: 100%;
	
  }
  .modal-header-title{
	justify-self: start;
	margin-right: 10px;
	color: #7cb4be;

   } 
   .modal-header-button{
	cursor: pointer;
	margin-right: 10px;
	
	
   }
  
   .modal-container > .modal-content{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 97%;
	margin: 10px;
	gap:20px;
	
	
    }
.modal-content2{
	width: 95%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 30px;
	background-color: #2323234e;
	padding: 20px;
	border-radius: 10px;
}
  

.restar{
	border-style: solid;
	border-color: #e9eeed;
	border-width: 1px;
	border-radius: 3px;
	padding: 2px;
	cursor: pointer;
}
.sumar{
	border-style: solid;
	border-color: #e9eeed;
    border-width: 1px;
	border-radius: 3px;
	padding: 2px;
	cursor: pointer;
	}

.total-content {
	color: #000000;
	text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px;
	padding: 20px;
	font-size: 25px;
	text-align: center;
	padding-top: 20px;
	}

.bi-x{
	color: #FFF;
	background-color: #051b28;
			
	}

.bitrash3{
	color: #FFF;
	cursor:pointer;
	display: flex;
	align-items: center;
	}

/**footer**/
.footer{
	background: -webkit-linear-gradient(black, #2b5a8d, #4b7d86);
	display: flex;
	color: #fff;
	justify-content: space-around;
	
	

}
.contactos{
	display: flex;
	justify-content: center;
	flex-direction: column;
	

}
.listaContacto{
	list-style: none;
	color: #fff;
}
.iconosRedSocial{
	color: #fff;
	display: flex;
	align-items: center;
	margin: 10px;

}
.tituloRedes{
	display: flex;
	align-items: center;
}
.listaRedeSociales{
	list-style: none;
	display: flex;
	gap: 20px;
	
}
.botonSuscripcion{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	border-color: #e9eeed;
	border-width: 1px;
	background: none;
	color: #fff;
	margin-bottom: 15px;
	font-size: 30px;
	width: 300px;
    height: 38px;
	cursor: pointer;
	transition: all 300ms ease-out 0s;
	
}
.botonSuscripcion:hover{
	box-shadow: 0 12px 16px 0 rgba(255, 249, 249, 0.24), 0 17px 50px 0 rgba(253, 253, 253, 0.19);
	color: #ffffff;
	font-weight: 700;
	align-items: center;
}


  @media (max-width: 534px) {
    .imgProduct {
        width: 250px;
	height: 158px;
	transition: all 400ms ease-out 0s;
    }
	.footer{

		flex-wrap: wrap;
		
	}
	.listaRedeSociales{
		justify-content: space-around;

	}
	}

@media (max-width: 426px) {
    .imgLogo{
		width:150;
		height:150;
	}
	
	.imgProduct {
        width: 252px;
	
	transition: all 400ms ease-out 0s;
    }
	.buttonAgregar{
		width: 168px;
    
}
.product{ 
	margin: 16px;
}
.buttonCategory{
padding: 3px;
}
.buttonCategory:hover {
font-size: 30px;
}
.footer{

	flex-wrap: wrap;
	
}
.listaRedeSociales{
	justify-content: space-around;

}
.tituloRedes{
	display: flex;
	align-items: center;
	border-right: 10px;
}
.modal-content2{
	width: 80%;
	flex-direction: column;
	gap: 9px

}
.imgProduct{
	width: 100%;
}
}